/* External CSS file */

/* universal selector - reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* css selectors */

/* id selector */
#idSelection {
  color: blueviolet;
}

/* class selector */
.classSelection {
  color: teal;
}

/* tag selector */
span {
  border: 2px solid green;
}

/* pseudo class selector */

/* noral color of the link */
a:link {
  color: red;
}

/* when we press hold on the link without leaving the mouse click */
a:active {
  color: purple;
}

/* when we hover over the link */
a:hover {
  color: lawngreen;
}

/* when we already visited the link */
a:visited {
  color: darkolivegreen;
}

/* attriblute selector */
input[type="text"] {
  border: 3px solid black;
}

/* pseudo selector focus */
input[type="text"]:focus {
  background-color: darkslateblue;
}

.myDiv {
  border: 1px solid gray;
  padding: 10px;
}

/* immediate child selector - sytles the immediate child or children */
.myDiv > h1 {
  color: orange;
}

/* child selector - styles all children whether immediate or not */
.myDiv p {
  color: darkgreen;
}

/* adjacent sibling selector  - selects only the adjacent sibling which is p of h1 not the other p elements*/
#myDiv2 h1 + p {
  color: darkgoldenrod;
}

/* general sibling selector - selects only the siblings */
#myDiv3 h1 ~ p {
  color: darkgoldenrod;
}

/* nth-child */
ul li:nth-child(odd) {
  color: green;
}

ul li:nth-child(even) {
  color: red;
}

/* first child */
#firsNLastChild p:first-child {
  color: orange;
}

/* last child */
#firsNLastChild p:last-child {
  color: blueviolet;
}

/* not selector */
#mylist li:not(:nth-child(3)) {
  color: red;
}

/* background */
#div_with_background {
  width: 200px;
  height: 200px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVRGosGCiBQy_I7iqG1GPS9yEbqsJ47m2GXg&s");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* linear gradient */
#linear-gradient {
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom right, pink 20%, blue 80%);
}

/* radial gradient */
#radial-gradient {
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, red 20%, magenta 30%, blue 50%);
}

/* animation */
#animatedDiv {
  width: 100px;
  height: 100px;
  background-color: olive;
  animation-name: myAnimation;
  animation-duration: 5s;
}

/* animation rules */
@keyframes myAnimation {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(calc(100vw - 100px));
  }

  100% {
    transform: translateX(0);
  }
}

/* transform */
#myBox {
  width: 100px;
  height: 100px;
  background-color: lavender;
  transform: translate(100px, 500px) scale(1.2) rotate(100deg);
  box-shadow: 10px 10px 10px gray;
}

/* text shasow */
#text-shodow {
  text-shadow: 2px 2px 2px gray;
}

/* disabled */
#country:disabled {
  background-color: gray;
}

/* box model */
#box-model-div1 {
  width: auto;
  border: 2px solid black;
  background-color: rgb(97, 50, 205);
}

#box-model-div2 {
  width: auto;
  height: 20vh;
  margin: 2rem;
  padding: 5rem;
  border: 2px solid red;
  background-color: yellowgreen;
}

#box-model-div2 h1 {
  border: 2px solid blue;
  background-color: yellow;
}

/* absolute positioning */
.myDiv4 {
  margin-top: 20vh;
  width: 50vw;
  height: 400px;
  border: 2px solid blue;
  position: relative;
}

.myDiv5 {
  width: 20%;
  height: 100px;
  border: 2px solid red;
  position: absolute;
  top: 100px;
  left: 150px;
}

.myDiv6 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blueviolet;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* sticky position */
.myDiv7 {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: coral;
}

/* opacity */
#opacityDiv {
  width: 100px;
  height: 100px;
  background-color: red;
  opacity: 0.5;
}
